{% extends "FOSUserBundle::layout.html.twig" %}
<label for="mail">Adresse email : </label> <input type ="text" name="mail" id ="mail" />
<label for="pseudo">Pseudo</label> : <input type="text" name="pseudo" id="pseudo" /><br />
<label for="mpasse">Mot de Passe : </label> <input type ="password" name="mpasse" id ="mpasse" />
<label for="rmpasse">Retaper Mot de Passe : </label> <input type ="password" name="rmpasse" id ="rmpasse" />
<input type ="submit" value="se connecter" />
