

{% extends "SNSysNewsBundle::layout.html.twig" %}



{% block body %}

  <h2>Ajouter un news</h2>

  {{ include("SNSysNewsBundle:News:form.html.twig") }}

  <p>

    Attention : cette news sera ajoutée directement

    sur la page d'accueil aprés validation du formulaire.

  </p>

{% endblock %}