{% extends "SNSysNewsBundle::layout.html.twig" %}



{% block body %}

  <h2>modifier un commentaire</h2>

   {{ include("SNSysNewsBundle:News:formcomment.html.twig") }}

  <p>

    Attention : ce commentaire sera modifier .

  </p>

{% endblock %}