{% extends "SNSysNewsBundle::layout.html.twig" %}



{% block body %}

  <h2>modifier un news</h2>

   {{ include("SNSysNewsBundle:News:form.html.twig") }}

  <p>

    Attention : cette news sera modifier .

  </p>

{% endblock %}
