<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>baka fansub</title>
    </head>

    <body bgcolor="#2175BC">
	</BODY>
<FONT face="arial">
<CENTER>
  <h1><B><FONT COLOR="#F8F8FA"><A HREF="{{ path('sn_sysnews_home') }}"style="text-decoration:none"><FONT COLOR="#F8F8FA">BAKA FANSUB</A></B></h1>
  </CENTER>
<oL>
<div><LI><A HREF="{{ path('sn_sysnews_home') }}"style="text-decoration:none"><FONT COLOR="#08C03C"><LI><H1>ACCEUIL </H1></A> 
     <LI><A HREF="{{ path('sn_sysnews_home') }}"style="text-decoration:none"><FONT COLOR="#FF3333"><LI><H1>PROJET</H1></A>
     <LI><a href="{{ path('sn_sysnews_home') }}"style="text-decoration:none"><FONT COLOR="#E97406"><LI><h1>TELECHARGEMENT</h1></a>
     
     
</div>
</oL>
</body>

</html>